/* html, body {
  background-color: rgb(80, 80, 116);
  height: 100%;
}

.container {
  background-color: rgb(80, 80, 116);
  height: 100%;
} */

small {
  display: block;
}
.user_link{
  text-decoration: none;
  font-weight: 500;
  font-size: 0.8em;
}